<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%- title %></title>
    <link rel="stylesheet" href="<%- cssFile %>" />
  </head>
  <body class="container">
    <main class="row">
      <div class="col">
        <h1>Welcome to yet another starter kit!</h1>
